@model TextMessageViewModel

@{ string isNotReaded = "";
    if (!Model.isReaded) { isNotReaded = "isNotReaded"; }
    string divClasses = "";
    string imgClasses = "";
    if (Model.isUserMessage)
    {
        divClasses = "mr-1 bg-success rounded-left float-right";
        imgClasses = "mr-1 float-right";
    }
    else
    {
        divClasses = "ml-1 bg-info rounded-right float-left";
        imgClasses = "ml-1 float-left";
    }
}

<div class="p-1 rounded-lg w-100 @isNotReaded ">
    <img class="rounded-circle my-1 @imgClasses message-ava" src="@Model.message.Sender.Image" alt="@Model.message.Sender.UserName" />
    <div class="p-1 my-1 @divClasses text-white">
        @Model.message.Text
    </div>
</div>


