
@model User

<div class="col-3 col-md-2">
    <img class="img-thumbnail" src=@Model.AvaImage.Path alt="@Model.UserName" />
    <p>@Model.FirstName  @Model.LastName </p>
    <p><a class="btn btn-warning" href="/Users/Profile/@Model.Id">Details</a></p>
</div>