@model User

<div class="col p-1">
    <img src=@Model.Image alt="@Model.UserName"
          class="align-middle" style="max-width:100%; max_height:100%;" />
    <p class="m-0">@Model.FirstName</p>
</div>