@model User

<div class="col p-1" style="text-align:center;">
    <img src=@Model.AvaImage.Path alt="@Model.UserName"
          class="small_user_image" style="max-width:100%; max_height:100%;" />
    <p class="m-0" >@Model.FirstName</p>
</div>