<div class="col-md-2 mx-2 py-2 bg-light sidebar">
    <ul>
        <li>
            <a href="#" id="left_bar_home_page">Home page</a>
        </li>
        <li>
            <a href="#">News</a>
        </li>
        <li>
            <a href="~/Messages/AllMessages">All Messages</a>
        </li>
        <li>
            <a href="~/Conversations/Dialogue">Dialogue</a>
        </li>
        <li>
            <div>
                <a class="float-left" href="~/Conversations/List">Conversations</a>
                <div id="conversationCount" class="bg-danger text-light float-left px-1 ml-1 rounded-circle"></div>
            </div>
        </li>
        <li>
            <a href="/Home/UserInformation">Check Username</a>
        </li>
        <li>
            <a href="#">Friends</a>
        </li>
    </ul>
</div>

<script type="text/javascript">
    let count = 0;
    @{ string authorize = "false";
        if (!(User.Identity.Name is null))
        {
            authorize = "true";
        }
    }
    if (@authorize) {
        $.ajax({
            type: "GET",
            url: "/Conversations/GetNotReadConversationsCount/",
            dataType: "json",
            async: false,
            success: function (data) {
                count = data;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    };
    $("#conversationCount").html(count != 0 ? count : "");
</script>

