

body {
    /* The image used */
    background-image: url("http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-size: cover;
}

#right_bar {
    background-color:transparent;
}

input {
    background-color: #262c36;
    color: #bac8de;
    border: none;
}

.dark_panel{
    background-color: #262c36;
    color: white;
    border: 1px solid #414b5c;
    border-radius: 5px;
}

.dark_panel h1 {
    color: #53966e;
}

.dark_panel h3 {
    color: #14ff92;
    font-size: 18px;
}

.dark_panel input {
    background-color: #262c36;
    color: #bac8de;
    border: 1px solid #bac8de;
}

.dark_panel img {
    max-width: 100%;
    max-height: 100%;
}

.dark_panel a {
    color: white;
    text-decoration: none
}

.dark_panel button {
    background-color: #11141f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}

.dark_panel button:hover {
    background-color: #14ff92;
    color: #11141f;
}

.dark_panel button a:hover {
    color: #11141f;
}

.dark_panel button:focus {
    outline: none;
}

.dark_panel button:active {
    background-color: #0bbf77;
}


    .dark_panel button.disable {
        background-color: #384741;
        color: white;
    }



.dark_panel button.important_btn {
    background-color: #f03535;
    color: white;
}

.dark_panel button.important_btn:hover {
    background-color: #cc2b2b;
}

.dark_panel button.important_btn:active {
    color: #402d2d;
}

.tab {
    border-bottom: 2px solid transparent;
}

.tab:hover {
    border-color: #79c7aa;
}

.tab:active {
    border-color: #14ff92;
}

.small_user_image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.very_small_user_image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/*Scroll*/

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #414b5c;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #262c36;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #202c36;
}

/*User profile page*/

#profile_info_panel_counts h4{
    margin-bottom: 0px;
    color: #bac8de;
}

#profile_right_part h1 {
    color: #53966e;
}
#profile_info_panel_counts p {
    margin-bottom: 0px;
}
#profile_info_panel_counts > div {
    padding-left: 0px;
    padding-right: 0px;
}

#profile_detail_inf p.col-7 {
    color: #bac8de;
}

.body-content {
    min-height: 600px;
}


/*Messages*/

.isNotReaded{
    background-color:lightblue;
}

.message-ava{
    height: 30px;
    width: 30px;
    
}

.name_above_message {
    color: #ffdc85;
    font-size: 11px;
    margin-bottom: 0px;
}

.send_time_of_message {
    padding: 0px;
}

.send_time_of_message p {
    color: #bac8de;
    font-size: 10px;
    margin: 0px;
    text-align: right;
}

/*Friends*/

.friend{
    margin-right:2%;
    text-align: center;
}

#message_board {
    overflow-y: scroll;
    max-height: 65vh;
}

footer {
    background-color: cadetblue;
}


